body{
    background: linear-gradient(60deg, #0d1a33, #3265c2) no-repeat center fixed;
    color:#fff;
}
.oyun_panel{
    border: 5px solid #0e1c36;
}
.oyun_panel button{
    width: 100px;
    height: 100px;
    background-color: #3062b6;
    border: 4px solid #0e1c36;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #0e1c36;
}
.oyun_panel button:hover{
    border: 5px solid rgb(179,115,115);
}
.form-group{
    margin-top: 10px;
}
h3{
    color:aquamarine
}